{% extends 'base.html' %}
    {% block title %}IPOPT: Change Password{% endblock %}
  <!--Body Starts Here-->
  {% block container %}
    <div class="panel panel-default">
      <div class="panel-heading">Change Password</div>
      <!--Form Starts here-->
      <div class="panel-body">
        <form class="form-horizontal" role="form" method = 'post' action = "{% url 'accounts.views.change_password' %}">
          {% csrf_token %}
          {% for error in form.non_field_errors %}
              <p class="text-danger">{{ error }}</p>
          {% endfor %}
          <table>
            {% for field in form.visible_fields %}
              <tr>
                <td>{{ field }}</td>
                <td>
                  {% for error in field.errors %}
                    <p class='text-danger'>{{ error }}</p>
                  {% endfor %}
                </td>
              </tr>
              <tr><td><br></td><td><br></td></tr>
            {% endfor %}
          </table>
          <button class="btn btn-large btn-primary" type="submit">Change Password</button>
        </form>
        {% if success %}
          <p class="text-success">Password Updated</p>
        {% endif %}
      </div>
      <!--Form ends here-->
    </div>

  {% endblock %}
  <!--Body Ends Here-->
