{% extends 'base.html' %}
{% block title %}IPOPT: Change Password{% endblock %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
{% endblock %}
  <!--Body Starts Here-->
{% block container %}
  <h3></h3>
	<form class="form-signin" role="form" action="/accounts/forgot_password/" method="post">
    <h3 class="form-signin-heading">Forget Password?</h3>
		{% for field in form.visible_fields %}
			{{ field }} <br>
				{% for error in field.errors %}
					<p class='text-danger'>{{ error }}</p>
				{% endfor %}
		{% endfor %}
		{% csrf_token %}
		<button class="btn btn-primary btn-block" style="font-size:16px;" type="submit">Send</button>
	</form>
	{% if success %}
		<p class="text-muted">An email has been sent to <b>{{ email }}</b>. Click on the link in the email to set up a new password.</p>
	{% endif %}
		<p class="text-muted text-center">Click <a href="/accounts/login/">here</a> to go back to the login page.</p>
{% endblock %}
