{% extends "base.html" %}

{% block title %}
Welcome - IPOPT
{% endblock %}

{% block container %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header" style="margin-left:43%;">
				<a class="navbar-brand" href="{% url 'home' %}">CMU IPOPT Online System</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
		<div class="col-md-12">
		<h1 style="text-align: center;">Welcome to CMU IPOPT Online System</h1>
		<p style="text-align: center;">Thank you for joining CMU IPOPT Online System! Your account is activated now! Please <a href="{% url 'login' %}">log in</a> here</p>
		</div>
		</div>
	</div>
{% endblock %}