{% extends 'base.html' %}
    {% block title %}IPOPT: Change Password{% endblock %}
  <!--Body Starts Here-->
  {% block container %}
	<div class="panel panel-default">

		<div class = "panel-heading">Reset Password</div>
			<div class = "panel-body">
				<form class="form-signin" action="/accounts/reset_forgotten_password/{{ username }}/{{ token }}"
										method="post">
					{% for error in form.non_field_errors %}
							<p class="text-danger">{{ error }}</p>
					{% endfor %}
				  	<table>
					{% for field in form.visible_fields %}
						<tr>
							<td>{{ field }}</td>
							<td>
								{% for error in field.errors %}
									<p class='text-danger'>{{ error }}</p>
								{% endfor %}
							</td>
						</tr>
						<tr><td><br></td><td><br></td></tr>
					{% endfor %}
					</table>
					{% csrf_token %}
					<button class="btn btn-large btn-primary" type="submit">Update and Login</button>
				</form>
			</div>
	</div>
{% endblock %}
