<div class="row">
	<div class="col-md-9">
	<form class="form" method="POST" action="/discuss/search/">
		<div class="input-group">
			<input type="text" name="search" value="" class="form-control" placeholder="Search">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary">
					&nbsp;<span class="glyphicon glyphicon-search">
				</span>&nbsp;</button>
			</span>
		</div>
		{% csrf_token %}
	</form>
	</div>
	<div class="col-md-3">
		<a href="{% url 'create_discuss' %}" class="btn btn-success pull-right" style="width:100%;">
			Ask a Question
		</a>
	</div>
</div>
<hr>
