{% extends 'base.html' %}
	{% block title %} New Discuss - IPOPT {% endblock %}
	{% block isDiscussActive %}class="active"{% endblock %}
	{% block css %}
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery.tagsinput.css" %}" />

		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}" />
	{% endblock %}

	{% block container %}
		<form action="{% url 'create_discuss' %}" method="POST" role="form">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
				<label>Title</label>
				{{ form.title.errors }}
				<input type="text" name="title" class="form-control"/>
			</div>
			<div class="form-group">
			<label>Your Question</label>
			{{ form.text.errors }}
			<textarea  class="form-control" rows="13" name="text"></textarea>
			</div>
			<div class="form-group">
			{{ form.code.errors }}
				<label>Relevent Code</label>
				<textarea class="form-control" rows="13" name="code">{% if form.code.value %}{{ form.code.value }}{% endif %}</textarea>
			</div>
			<div class="form-group">
				{{ form.tag.errors }}
				<label>Tags</label>
				<input type="text" name="tags" class="form-control" id="tags"/>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-default pull-right">Post</button>
			</div>
		</form>

	{% endblock %}

	{% block js %}
	<script type="text/javascript" src="{% static "js/jquery.tagsinput.js" %}"></script>
	<script type='text/javascript' src="{% static "js/jquery-ui.min.js" %}"></script>
	<script type="text/javascript">

	function onAddTag(tag) {
		alert("Added a tag: " + tag);
	}
	function onRemoveTag(tag) {
		alert("Removed a tag: " + tag);
	}

	function onChangeTag(input,tag) {
		alert("Changed a tag: " + tag);
	}

	$(document).ready(function() {
		$('#tags').tagsInput({width:'auto'});
		});
		</script>
	{% endblock %}
